<!DOCTYPE html>
<html>
<head>
    <title>Admin Handbook</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        var prefix = "{{ prefix }}"; // Make sure you pass 'prefix' from your Flask view
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='log_events.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Admin Handbook</h1>
        
        <p>Welcome to the Admin Handbook. You could see all the posts from the user</p>

        <h2>All Posts</h2>
        <p> Here is another flag: Flag{N8w_Flag_M8ssag3} </p>

        <a href="/{{prefix + url_for('admin_dashboard') }}">Back to Admin Dashboard</a>
    </div>
</body>
</html>
