<!DOCTYPE html>
<html>
<head>
    <title>Admin Handbook - Admin Password</title>
    <script>
        var prefix = "{{ prefix }}"; // Make sure you pass 'prefix' from your Flask view
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='log_events.js') }}"></script>
</head>
<body>
    <h1>Admin Handbook - Admin Password</h1>
    <p>Enter your admin password to access the handbook:</p>
    <form method="POST">
        <input type="password" name="admin_password" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
