<!DOCTYPE html>
<html>
<head>
    <title>Edit Fun Fact</title>
</head>
<body>
    <h1>Edit Fun Fact</h1>
    <script>
        var prefix = "{{ prefix }}"; // Make sure you pass 'prefix' from your Flask view
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='log_events.js') }}"></script>

    <form method="POST" action="/{{prefix + url_for('edit_fun_fact', user_id=user.id) }}">
        {{ form.hidden_tag() }}
        {{ form.fun_fact.label }} {{ form.fun_fact }}<br>
        {{ form.private.label }} {{ form.private }}<br>
        {{ form.submit }}
    </form>

    <a href="/{{prefix + url_for('profile', user_id=user.id) }}">Cancel</a>

</body>
</html>
